:host {
    display: grid;
    grid-template-columns: minmax(max-content, 200px) 1fr;
    overflow-y: auto;

    // Show scrollbars for both the nav and the content areas
    > ::ng-deep * {
        overflow-y: auto;
    }

    > ux-navigation {
        padding: 15px;

        ::ng-deep .nav-title {
            // Don't wrap the text
            white-space: nowrap;
        }
    }

    > router-outlet {
        order: 1;
    }
}
