// Brand Blue
$microfocus-primary: #0073e7;

// IAS Colors
$ias-blue-1: #0067ad; // darkest blue
$ias-blue-2: #007cd0; // Primary blue
$ias-blue-3: #0090da; // medium blue
$ias-blue-4: #01a9e7; // Secondary blue
$ias-blue-5: #29ceff; // light blue
$ias-blue-6: #e4f9ff; // lightest blue

// IAS Monochromatic Palette
$ias-white: #ffffff;
$ias-light-gray: #f6f9f8;
$ias-panel-gray: #eef2f2;
$ias-border-gray: #dae1e1;
$ias-gray: #bdbec0;
$ias-icon-gray: #808080;
$ias-dim-gray: #656668;
$ias-dark-gray: #434c50;
$ias-black: #000000;