// For color palate breakdown, see:
// https://pages.github.houston.softwaregrp.net/caf/ux-aspects-micro-focus/#/ui-components/styling#color-palette

// Brand Blue
$quantum-primary: #0073e7;

// Primary Colors
$quantum-cerulean: #1668c1;
$quantum-aqua: #29ceff;
$quantum-aquamarine: #2fd6c3;
$quantum-fuchsia: #c6179d;
$quantum-indigo: #7425ad;
$quantum-dark-blue: #231ca5;

// IAS Colors
$ias-blue-1: #0067ad;
$ias-blue-2: #007cd0;
$ias-blue-3: #0090da;
$ias-blue-4: #01a9e7;
$ias-blue-5: #29ceff;
$ias-blue-6: #e4f9ff;

// IAS Monochromatic Palette
$ias-white: #ffffff;
$ias-light-gray: #f6f9f8;
$ias-panel-gray: #eef2f2;
$ias-border-gray: #dae1e1;
$ias-gray: #bdbec0;
$ias-icon-gray: #808080;
$ias-dim-gray: #656668;
$ias-dark-gray: #434c50;
$ias-black: #000000;

// Monochromatic Palette
$quantum-white: #ffffff;
$quantum-slightly-gray: #f5f7f8;
$quantum-bright-gray: #f1f2f3;
$quantum-gray: #dcdedf;
$quantum-silver: #bdbec0;
$quantum-dim-gray: #656668;
$quantum-dark-gray: #323435;
$quantum-black: #000000;

// Status Colors
$quantum-crimson-negative: #e5004c;
$quantum-apricot: #f48b34;
$quantum-yellow: #fcdb1f;
$quantum-green-positive: #1aac60;

// Secondary Colors
$quantum-ultramarine: #3939c6;
$quantum-skyblue: #00abf3;
$quantum-pale-aqua: #43e4ff;
$quantum-pale-green: #1ffbba;
$quantum-lime: #75da4d;
$quantum-orange: #ffce00;
$quantum-magenta: #eb23c2;
$quantum-pale-purple: #ba47e2;
$quantum-dark-ultramarine: #271782;
$quantum-steelblue: #014272;
$quantum-arctic-blue: #0b8eac;
$quantum-emerald: #00a989;
$quantum-olive: #5bba36;
$quantum-goldenrod: #ffb000;
$quantum-purple: #9b1e83;
$quantum-pale-eggplant: #5216ac;

// Secondary Status Colors
$quantum-red: #ff454f;
$quantum-pale-amber: #ffb24d;
$quantum-pale-lemon: #fde159;
$quantum-pale-emerald: #33c180;
$quantum-plum: #b21646;
$quantum-copper: #e57828;
$quantum-amber: #ffc002;
$quantum-leaf-green: #118c4f;

// Additional Brand Colors
$quantum-forest-green: #00645a;
