// Why does the header need a top margin automatically?
h2:first-child {
    margin-top: 0;
}

app-ngbd-code > pre[class*="language-"] {
    margin: 0;
}

.code-heading-title {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 40px;

    > h3 {
        margin: 0;
    }

    > button {
        justify-self: end;
    }
}

// Hide dropdown menus in the page header if they're empty
.page-header-icon-menu > .dropdown-menu:empty {
    display: none;
}

.main-content {
    margin: 15px;
    max-width: 700px;
}
