app-ngbd-code > pre[class*="language-"] {
    margin: 0;
}

.code-heading-title {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 40px;

    > h3 {
        margin: 0;
    }

    > button {
        justify-self: end;
    }
}
