.code-heading-title {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    margin-top: 40px;

    > button {
        justify-self: end;
    }
}

ux-tab > ::ng-deep .tab-pane {
    margin-top: 20px;
}
