@import "../../../../../../../../styles/src/quantum-variables";

:host {
    border: 1px solid $quantum-bright-gray;
    display: grid;
    grid-template-columns: max-content 1fr;

    > ux-page-header {
        grid-column: 1 / -1;
        position: relative; // Need to do this because this header isn't located at the top of the page
    }

    > .content-area {
        margin: 15px;
    }
}
