:host {
    display: grid;
    grid-template-rows: max-content 1fr;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    > ux-page-header {
        position: relative;
    }

    > router-outlet {
        order: 1;
    }

    .page-header-secondary {
        animation: none;
    }
}
