#placeholder {
    align-items: center;
    border: 1px solid #dae1e1;
    border-radius: 5px;
    display: flex;
    height: 250px;
    justify-content: center;
    margin-bottom: 15px;
    max-width: 75%;
}
