.ux-toolbar {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-items: end;

    > * {
        display: flex;
    }
}

.checkbox-column {
    width: 48px;
    text-align: center;
}
