accordion.panel-group > .accordion-chevron.panel-open .panel-heading:before,
ux-accordion.panel-group > .accordion-chevron.panel-open .panel-heading:before {
    font-family: 'ias-icons';
    content: '\E903';
}

accordion.panel-group > .accordion-chevron .panel-heading:before,
ux-accordion.panel-group > .accordion-chevron .panel-heading:before {
    font-family: 'ias-icons';
    content: '\E901';
}

ux-accordion-panel[disabled] {
    > .panel-heading {
        opacity: 0.4;
        &:focus {
            outline: none;
        }
    }
    :hover {
        cursor: not-allowed;
    }
}
