.modal-content {
    border-radius: 3px;
    box-shadow: none;

    > .modal-header {
        display: flex;
        align-items: flex-end;
        color: $ias-icon-gray;
        text-transform: uppercase;
        border-bottom: 0 none;

        > .modal-title {
            flex-grow: 1;
        }
    }

    > .modal-footer {
        border-top: 0 none;
    }
}
