ux-page-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  .page-header-secondary {
    height: 35px;
    padding: 0 20px;
    box-shadow: none;
    background-color: $ias-panel-gray;
    
    .nav.nav-tabs li:not(.disabled) {
      height: 35px;
    }
    .nav.nav-tabs > li {
      margin-left: 0px;
      margin-right: 0px;
    }    
    .nav.nav-tabs > li > a {
      height: 35px;
      line-height: 30px;
      padding: 0 10px;
    }
    .nav.nav-tabs li:not(.disabled) > a {
      color: $ias-dark-gray;
      border-bottom-width: 0;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 0.3px;
      padding-top: 2px;
    }
  }
}


