h1, h2, h3, h4, h5 {
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3em;

    // We don't need a top margin when the header is the first thing on the page
    &:first-child {
        margin-top: 0;
    }

    &.disabled {
        opacity: $disabled-opacity;
    }
}

h1, h2     {color: $ias-darker-gray;}
h3, h4, h5 {color: $ias-dark-gray;}
h4         {text-transform: uppercase;}

h1 {
    font-size: 2rem;
    margin: 1rem 0 1rem;
}

h2 {
    font-size: 1.75rem;
    margin: 2rem 0 1rem;
}

h3 {
    font-size: 1.3rem;
    margin: 2rem 0 1rem;
}

h4 {
    font-size: .95rem;
    margin: 15px 0 5px;
}

h5 {
    font-size: .95rem;
    margin: 5px 0 5px;
}
