ux-page-header {
    font-family: $ias-font-family;
    color: $ias-dim-gray;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.3px;

    .nav-tabs > li {
        margin-bottom: 0;
        border-style: solid;
        border-width: 0 1px 2px;
        border-color: transparent;

        &:first-child {
            margin-left: 15px;
        }

        &:hover, &:focus {
            background-color: $ias-border-gray;
        }

        &.active {
            border-left-color: $ias-border-gray;
            border-right-color: $ias-border-gray;
            border-bottom-color: $ias-blue-4;

            > a.nav-link {
              color: $ias-dark-gray;
              font-weight: 500;
            }
        }

        > a.nav-link {
            color: inherit;
            font-weight: inherit;
            font-family: inherit;
            border: 0 none;
            height: 35px;

            &.highlighted {
                outline: none;
            }

            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }
}
