.dropdown-menu {
    background-color: $ias-dark-gray;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 3px;
    color: $ias-light-gray;
    padding: 5px 0;
    margin: 2px 0 0;

    .divider {
        background-color: $ias-medium-gray;
    }

    h4 {
        color: $ias-gray;
        margin: 10px 15px;
    }

    li > a:hover {
        background-color: $ias-darker-gray;
        color: $ias-white;
    }

    a.dropdown-menu-item {
        align-items: center;

        .dropdown-menu-hint {
            color: $ias-gray;
        }

        .ias-icon {
            vertical-align: middle;
        }
    }

    // When dropdown menus are right-aligned, they tend to pile up. This at least adds a border so they don't bleed into
    // each other. Need to work with the ux-aspects team for a better solution.
    .dropdown-menu.dropdown-menu-right {
        border-color: #1f1f1f;
    }
}

.dropdown-icon-inline {
    padding-left: 8px;
    padding-top: 2px;
}
