$header-height: 50px;

ux-page-header{
    > .ux-page-header {
        background-color: $microfocus-primary;
        height: $header-height;
        padding: 0;

        > .page-header-content {
            display: grid;
            grid-template-columns: max-content 1fr max-content 0px;
            grid-column-gap: 15px;
            align-items: center;

            > * {
                // We don't need absolute positioning.  We're using css grid.
                position: relative;
                top: auto;
                right: auto;
                display: initial;
                line-height: 1rem;
            }

            > .page-header-logo-container {
                height: $header-height;
            }

            > .page-header-subtitle-container {
                display: flex;
                .page-header-subtitle {
                  font-size: 20px;
                }
            }

            > .page-header-icon-menus {
                height: auto;
            }

            > .page-header-navigation {
                // We don't use navigation in the page header.  We put it in the secondary navigation.
                display: none;
            }

            > .page-header-state-container {
                // We don't put breadcrumbs in the page header.
                display: none;
            }
        }
    }

    > .page-header-secondary {
        // Secondary navigation should have a gray background
        background-color: $ias-panel-gray;
    }
}

