.ux-side-nav > .nav > li {
    > a {
        border-radius: 3px;
        color: $ias-dark-gray;
        font-weight: normal;
        padding: 5px 10px;

        &:hover {
            background-color: $ias-panel-gray;
        }

        > .nav-icon + .nav-title {
            margin-left: 10px;
        }
    }

    &.active > a {
        background-color: $ias-panel-gray;
    }
}
