.ux-side-nav {
    > .nav > li {
        > a {
            border-radius: 3px;
            color: $ias-dim-gray;
            font-size: 15px;
            font-weight: normal;
            padding: 5px 10px;

            &:hover {
                background-color: $ias-panel-gray;
                color: $ias-dark-gray;
            }

            > .nav-title {
                white-space: nowrap;
            }

            > .nav-icon + .nav-title {
                margin-left: 10px;
            }
        }

        &.active > a {
            background-color: $ias-panel-gray;
            color: $ias-dark-gray;
            font-weight: 600;
            letter-spacing: .25px;
        }
    }
}
