ux-tag-input {
  border-color: $ias-border-gray;
  border-radius: 3px;
  cursor: default;

  &:focus, &:hover {
    border-color: $ias-blue-4;
  }
}

ux-tag-input.disabled, ux-dropdown.disabled {
  background-color: transparent;
  border-color: $ias-border-gray;
  opacity: 0.60;
  outline: none;

  &:focus, &:hover {
    border-color: $ias-border-gray;
  }
}

.ux-tag {
  align-items: center;
  background-color: $ias-panel-gray;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 12px;
  justify-content: space-around;
  line-height: 22px;
  margin: 2px 3px;
  min-width: 70px;
  padding: 0 5px;

  >.ux-tag-remove {
    flex: 0 0 auto;
    font-size: 80%;
    opacity: 0.7;
    background-color: transparent;
    margin-left: 7px;
    border: none;
    padding: 0;
  }

  &:focus, &:hover {
    background-color: $ias-light-gray;
    border: 1px solid $ias-blue-4;
    color: $ias-blue-4;
  }
  &.disabled {
    background-color: $ias-panel-gray;
    border: 1px solid transparent;
    color: $ias-dark-gray;
    outline: none;
  }
}
.tag-container > ol > li.ux-tag {
  &:focus, &:hover {
    background-color: #f6f9f8;
    border: 1px solid #01a9e7;
    color: #01a9e7;
  }
  &.disabled {
    cursor: not-allowed
  }
}
