.ias-tile {
    background-color: $ias-panel-gray;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: $ias-light-gray;
        border: 1px solid $ias-blue-4;
    }
}
