.basic-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;

    > select {
        width: auto;
    }

    > input, select, .ias-checkbox {
        margin-bottom: 20px;
    }
}
